
body{
    text-align: center;
}

.menuDiv{
    margin: 1vh 1vw;
    padding: 5px 5px;
    width: 98vw;
    background-color: lightblue;
    text-align: left;
}

.logoutP{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.itemDiv{
    display: inline-table;
    background-color: lightblue;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
}

.itemDiv *{
    vertical-align: middle;
}